.Container {
    background-color: white;
    padding: 15px;
    border: 1px solid #bebebe;
}

.Heading {
    text-align: center;
    color: #3b5998;
    margin-bottom: 30px;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    line-height: 30px;
  }

  .Owner {
    color: #464646;
  }

  .Owner:hover {
    color: black;
  }

  .Link:hover {
    text-decoration: none;
  }